<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elapp.storyapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".base.StoryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StoryApp">
        <receiver
            android:name=".widget.StoryImageWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/story_image_widget_info" />
        </receiver>
        
        <service android:name=".widget.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".presentation.story.detail.DetailStoryActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.story.add.AddStoryActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.register.RegisterActivity"
            android:exported="false"
            android:theme="@style/SplashTheme"/>
        <activity
            android:name=".presentation.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.login.LoginActivity"
            android:exported="false"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".presentation.camera.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>